@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{font-family: 'Rubik', sans-serif !important; background-color: #000;}
a {
    text-decoration: none;
}
.login_wrapper{
    background-image: url(../image/login-bg.png);
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #000;
}
.login-formatting {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
}
.container-1 {
    max-width: 1100px;
    margin: 0 auto;
    background: rgba(90, 88, 101, 0.17);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    width: 100%;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 90px hwb(0deg 100% 0% / 5%)
}
.login-ellips {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 50px 50px;
    width: 100%;
    box-shadow: inset -10px 10px 10px #181515;
}
.login-content h2 {
    font-size: 40px;
    color: #fff;
    margin: 0 0 5px;
    font-weight: 600;
    letter-spacing: 1px;
}

.login-content p {
    color: #817f7f;
    font-size: 18px;
    margin: 0;
}
.login-form .form-floating input.form-control {
    padding-left: 50px;
    background: #f1a4a40d;
    border: 1px solid #26252596;
    color: #fff;
    border-radius: 10px;
}
.login-form .form-floating input.form-control:focus{outline: none; box-shadow: none;}

.login-form .form-floating label {
    padding-left: 58px;
    font-weight: 300;
    color: #fdfdfd;
}
.login-form .form-floating label + i {
    color: #d24135;
    font-size: 20px;
    position: absolute;
    top: 19px;
    left: 25px;
}
.button-custom input[type="submit"] {
    background: #d24135;
    margin: 0 auto;
    display: block;
    max-width: 240px;
    width: 100%;
    padding: 15px;
    font-size: 18px;
    color: #ffff;
    border-radius: 100px;
    font-weight: 500;
    border: none;
    box-shadow: inset 0px 0px 7px #000;
}
.sign-up-content.register-account {
    margin-top: 30px;
    text-align: center;
    color: #fff;
}

.sign-up-content.register-account a {
    color: #d24135;
    font-weight: bold;
    text-decoration: none;
}
.logo-login {
    max-width: 330px;
    border: 1px solid #1a1a1a;
    padding: 20px 40px;
    background: #000000e3;
    position: absolute;
    top: 80px;
    right: 20px;
    display: block;
    width: 100%;
}
.flex-form {
    height: 100%;
    display: flex;
    align-items: center;
}
.login-image img {
    height: 100%;
    object-fit: cover;
}

.login-image {
    height: 100%;
}
.login-image::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to right, rgb(210 65 53 / 25%), rgb(122 111 111 / 68%));
    box-shadow: inset 10px 0px 50px #000000;
}
.button-custom input[type="submit"]:hover {
    background: #95281f;
    transition: 1s;
}

/****left navigation start ****/
.content-area {
  display: flex;
}
.content-area .left-navigation {
    width: 250px;
    position: fixed;
    height: 100%;
    box-shadow: inset 0px 0px 4px #000;
    z-index: 100;
    transition: 0.5s all;
}
.content-area  .content-body {
  margin-left: 250px;
  width: calc(100% - -250px);
  height: 100%;
  transition: 0.5s all;
}
.dasbaord-logo {
    padding: 15px;
    border-bottom: none;
    margin-bottom: 10px;
    min-height: 75px;
    background: #d24135;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}
.dasbaord-logo a {
    width: 100%;
}
.left-navigation ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}
.left-navigation ul li a {
  display: block;
  padding: 15px 20px;
  color: #fff;
  font-weight: 400;
}
.left-navigation ul li a.active {
     color: #d24135;
}
.left-navigation ul li a.active svg path {
  fill: #d24135;
}
.left-navigation ul li a:hover svg.usericon path {
  stroke: #d24135;
}
.left-navigation ul li a:hover svg.usericon path {
  fill: #ffffff;
}
.left-navigation ul li a svg {
  margin-right: 15px;
  width: 25px;
}
.left-navigation ul li a:hover {
  color: #d24135;
}
.left-navigation ul li a:hover svg path {
  fill: #d24135;
}
.dropdown-item.active, .dropdown-item:active {
  
  background-color: #d24135;
}
.nofication-bell span {
  position: absolute;
  background-color: #d24135;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-align: center;
  font-size: 13px;
  right: -11px;
  color: #fff;
}
/****left navigation end ****/

/****Header ****/
.header {
    background-color: #0f0f11;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 99;
}
.toogle-menu svg {
  width: 25px;
}
.header-inner {
  display: flex;
  align-items: center;
  width: 40%;
}
.head-search {
  display: flex;
  align-items: center;
  width: 60%;
  position: relative;
}

.head-search span {
  position: absolute;
  left: 10px;
    padding-right: 15px;
}
.toogle-menu {
  margin-right: 30px;
  cursor: pointer;
}
.head-search input.form-control {
    background-color: #0f0f11;
    border: 1px solid #373737;
    border-radius: 30px;
    padding-left: 40px;
    height: 40px;
    color:#fff;
}
.head-search input.form-control:focus {
  box-shadow: none;
  outline: 0px;
}
.head-search span svg {
  width: 20px;
}
.notificaton-icon {
  margin: 0px;
  padding: 0px;
  list-style: none;
  align-items: center;
  display: flex;
  position: relative;
}
.notificaton-icon li {
  margin: 0px 18px;
}
.notificaton-icon li.blank-li {
  background-color: #707070;
  width: 1px;
  height: 30px;
}
.notificaton-icon svg {
  width: 23px;
}
.user-options {
  display: flex;
  align-items: center;
}
.user-dropdown {
margin-left: 20px;
}

.dropdown-menu {
  border-radius: 0px;
  border: 0px;
  box-shadow: 1px 6px 7px #0000000f;
  padding: 0px;
}
.user-dropdown svg {
  width: 40px;
  margin-right: 9px;
}
/****Header end ****/

/***** Dashboard ****/

.inner-content {
  padding: 20px;
}
.dataTables_wrapper .dataTables_info {
    font-size: 15px;
    color: #fff;
}
.pages-title .breadcrumb-item a {
  color: #5E5E5E;
}
.c-card-body {
  padding: 20px;
}
.c-card-title {
    padding: 15px 20px;
    border-bottom: 1px solid #222226;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cstm-btn {
    background: #d24135;
    color: #ffffff;
    border-radius: 30px;
    padding: 10px 30px;
    box-shadow: inset 0px 0px 4px #000;
}
.custom-card {
    background-color: #0f0f11;
    border-radius: 5px;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    width: 100%;
    box-shadow: inset -2px 5px 10px #181515;
}
.title-group {
  display: flex;
  align-items: center;
}
.title-group h2 {
  margin: 0px;
  font-size: 24px;
  color: #252526;
  font-weight: 600;
}
.title-icon {
  background-color: #F1F1F1;
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 18px;
  padding: 10px;
  margin-right: 10px;
  border-radius: 50%;
}
.main-title .dropdown-toggle {
  color: #6B6B6E;
}
.main-title {
  display: flex;
    align-items: center;
    margin-bottom: 15px;
    justify-content: space-between;
}

.cstm-btn:hover {
  color: #ffffff;
}
.custom-table table tr th {
  border: 0px;
  color: #fff;
}
.custom-table table tr td {
  border-bottom: 1px dashed #CACACA;
  font-size: 14px;
}
.custom-table table tr th:first-child{
  border-radius: 6px 0px 0px 6px;
}
.custom-table table tr th:last-child{
  border-radius: 0px 6px 6px 0px;
}
.custom-table .table  {
  padding-top: 15px;
}
.t-action a img {
  width: 17px;
  margin-right: 8px;
}
table.dataTable.no-footer {
  border-bottom: 0px;
}
table.dataTable tbody th, table.dataTable tbody td {
    padding: 10px 10px;
    color: #fff;
}
.pages-title {
  margin-top: 5px;
  margin-bottom: 30px;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  border: 0px;
  background: #ffffff;

}
.dataTables_wrapper .dataTables_paginate .paginate_button.current {
  background: #d24135;
    border: 0px;
    color:#fff !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  background: #d24135;

}
.c-card-title h3 {
  font-size: 22px;
  color:#fff;
}
.dataTables_wrapper .dataTables_filter input {
  border-radius: 30px;
}

/**** Expend/collapse screen****/
.full-screen .content-area .left-navigation {
  width: 70px;
  transition: 0.5s all;
}
.full-screen .content-area .left-navigation ul  li a span {
  display: none;
}
.full-screen .content-area .left-navigation .dasbaord-logo {
  padding: 30px 4px;
}
.full-screen .content-area .content-body {
    margin-left: 70px;
    width: calc(100% - -70px);
    height: 100%;
    transition: 0.5s all;
}
.pages-title h3 {
    color: #fff;
}
.pages-title ol.breadcrumb a {
    color: #fff;
}
.pages-title ol.breadcrumb li.breadcrumb-item.active {
    color: #d24135;
}
.notificaton-icon li a svg g{
    opacity: 1;
}
.notificaton-icon li a svg g path {
    fill: none;
    opacity: 1;
    stroke: #fff;
}
ul.notificaton-icon li.nofication-bell.position-relative a svg path {
    stroke: none;
    opacity: 1;
    fill: #fff;
}
.user-options .dropdown.user-dropdown div#dropdownMenuButton1 {
    color: #fff;
}
.custom-table table tbody tr.odd {
    background: #1e1e1e;
}

.custom-table table tbody tr td {
    border-style: solid;
    border-color: #262626;
    vertical-align: middle;
    padding: 5px 20px;
}
.t-action a {
    width: 35px;
    height: 35px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
    border-radius: 100px;
    border: none;
    box-shadow:inset 0px 0px 3px #400000
}

.t-action {
    display: flex;
    align-items: center;
    justify-content: start;
}

.t-action a img {
    max-width: 15px;
    margin: 0 auto;
}
table.dataTable tbody tr {
    background: none;
}
.custom-table .dataTables_length label {
    color: #fff;
}

.custom-table .dataTables_length label select {
    margin: 0px 5px;
    color: #fff;
    border: 1px solid #373737;
    background: #0f0f11;
    height: 40px;
    min-width: 80px;
}

.custom-table .dataTables_filter label {
    color: #fff;
}

.custom-table .dataTables_filter label input {
      border: 1px solid #222222;
    margin-left: 10px;
    background: #1e1e1e;
    padding: 5px 10px;
    color: #fff;
    border-radius: 6px;
}
.pages-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #2422227a;
}

.pages-title  h3 {
    margin: 0;
    width: 75%;
}

.pages-title ol.breadcrumb {
    margin: 0;
    color: #fff;
}
.cstm-btn:hover {
    background: #95281f;
    transition: 1s;
}
a.view-icon i {
    color: #fff;
}

a.edit-icon i {
    color: white;
}

a.delete-icon i {
    color: #fff;
}
a.view-icon {
    background: #2a2a2a;
}
a.edit-icon {
    background: rgb(196 255 125 / 37%);
}
a.delete-icon {
    background: #d24135;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
    border-radius: 100px;
}
body.full-screen .dasbaord-logo svg {
    width: 160px;
}

body.full-screen .dasbaord-logo {
    overflow: hidden;
}
/**** Expend/collapse screen end****/

