{% extends 'xtm_fbag_app/base.html' %}

{% block css %}

<style>

    body {
        background-color:white;
      }

    div.form-group{
        margin-top:10px; 
        margin-bottom:10px; 
    }  
</style>


{% endblock css %}




{% block content %}

<section class="testimonial py-5" id="testimonial">
    <div class="container">
        <div class="row ">
            <div class="col-md-4 py-5 bg-primary text-white text-center ">
                <div class=" ">
                    <div class="card-body">
                        <img src="http://www.ansonika.com/mavia/img/registration_bg.svg" style="width:30%">
                        <h2 class="py-3">Education Blog</h2>
                        <p>whatever you have knowledge plz share with us .

</p>
                    </div>
                </div>
            </div>
            <div class="col-md-8 py-5 border">
                <h4 class="pb-4">Please fill with your Blog.....</h4>
                <form method="post">
                    {% csrf_token %}
                      <div class="form-row">
                        <div class="form-group col-md-6">
                            <input id="title1" name="title1" placeholder="title" class="form-control" type="text">
                        </div>
                        
                        <div class="form-group col-md-12">
                                  <textarea id="comment1" name="comment1" placeholder="Plz write something here...." cols="40" rows="5" class="form-control"></textarea>
                        </div>
                    </div>
                    
                    
                    <div class="form-row">
                        <input type="submit" class="btn btn-danger" value="submit"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>


{% endblock content %}