{% extends 'xtm_fbag_app/base.html' %}

{% load static %}

{% block css %}

<style>
    body {
        background-color:white;
      }
   
</style>
{% endblock css %}

{% block content %}

<table class="table table-dark table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Ttle</th>
        <th scope="col">Content</th>
        <th scope='col'>Action</th>
      </tr>
    </thead>
    <tbody>
        {% for list in latest_post_list  %}
      <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td>{{list.title}}</td>
        <td>{{list.id}}</td>
        <td>{{list.content}}</td>
        <td colspan="2"><div class="t-action">
          <a class="view-icon" href=""><i class="fas fa-eye"></i></a>
          <a class="edit-icon" href=""><i class="fas fa-edit"></i></a>
          <a class="delete-icon" href="#" id="dlt{{list.id}} data-catid="{{list.id}}"><i class="fas fa-trash-alt" ></i></a>
        </div></td> 
      </tr>
      {% endfor %}
    </tbody>
</table>



{% block script %}
<script>

  console.log("this is list")

  $('.delete-icon').click(function(){
  console.log("this is list click")

    var catid;
    catid = $(this).attr("data-catid");
    console.log("this is list value"+catid)

    $.ajax(
    {
        type:"GET",
        url: "/edu_list",
        data:{
                 post_id: catid
        },
        success: function( data ) 
        {
            $( '#dlt'+ catid ).remove();
            $( '#message' ).text(data);
        }
     })
});



</script>
{% endblock script %}


{% endblock content %}